<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta name="keywords" content="<%= keywords %>" />
    <meta name="author" content="Avris <andre@avris.it>" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>">
    <meta property="og:url" content="<%= baseUrl %>" />
    <meta property="og:image" content="<%= banner %>" />

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:image" content="<%= banner %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<script async src="https://arc.io/widget.min.js#gC4ioRb3"></script>
</body>
</html>
